@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* imported fonts */
/* Universal selector */
* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* Global or shared Properties */
footer,
.why-dev {
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
}

footer {
    width: 100%;
}

.secondary-color {
    color: #0d1321;
    opacity: 0.8;
}

.section-title-h2 {
    color: #0d1321;
    font-size: 28px;
    /* font-weight: 800; */
    line-height: 37px;
    text-align: center;
    margin: 24px 0px;
}

.info-desc {
    font-size: 14.5px;
    line-height: 25px;
}

.btn {
    color: #fff;
    background-color: #0d1321;
    padding: 20px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.wh-btn {
    padding: 15px 22px;
    color: #0d1321;
    opacity: 0.8;
    border-radius: 8px;
    border: 1px solid #0d1321;
    cursor: pointer;
    font-size: 14px;
}

.wh-learn-btn {
    padding: 10px 15px;
    border-radius: 0;
    background-color: #fff;
}

section {
    margin-bottom: 100px;
}

/* ----Header Part styles start------ */
header {
    width: 100%;
}

/* nav styles */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 125px 20px 125px;
}
header nav h3{
    font-size: 22px;
}

/* hero section styles */
.hero {
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .hero-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 195px 40px 195px;
    /* gap: 10px; */
}

.hero-info .hero-title {
    margin: 20px 0px 15px;
    color: #0d1321;
    font-size: 44px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
}

.hero-info .hero-desc {
    margin: 15px 12.5% 30px;
}

/* ------main part designs-------- */
main {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* why dev section designs here */
.why-dev {
    padding: 80px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.why-dev-info {
    text-align: center;
    padding: 0px 40px 20px;
}

.reason {
    background-color: #fff;
    padding: 45px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.reason-info {
    width: 55%;
}

.reason .reason-info-title {
    font-size: 18px;
    line-height: 30px;
    color: #0d1321;
    opacity: 0.7;
    margin: 24px 0px;
}
.reason-info p{
    font-size: 12px;
    margin: 10px 0px 24px;
    line-height: 25px;
}

.reason-img {
    width: 40%;
}