@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* imported fonts */
/* Universal selector */
* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    box-sizing: border-box;
}

/* Global or shared Properties */

.secondary-color {
    color: #0d1321;
    opacity: 0.8;
}

.section-title-h2 {
    color: #0d1321;
    font-size: 28px;
    /* font-weight: 800; */
    line-height: 37px;
    text-align: center;
    margin: 24px 0px;
}

.info-desc {
    font-size: 14.5px;
    line-height: 25px;
    opacity: 0.8;
}

.btn {
    color: #fff;
    background-color: #0d1321;
    padding: 20px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.wh-btn {
    padding: 15px 22px;
    color: #0d1321;
    opacity: 0.8;
    border-radius: 8px;
    border: 1px solid #0d1321;
    cursor: pointer;
    font-size: 14px;
}

.wh-learn-btn {
    padding: 10px 15px;
    border-radius: 0;
    background-color: #fff;
}

section {
    margin-bottom: 100px;
}




/* ----Header Part styles start------ */


header {
    width: 100%;
}

/* nav styles */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 125px 20px 125px;
}

header nav h3 {
    font-size: 22px;
}

/* hero section styles */

.hero {
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .hero-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 195px 40px 195px;
    /* gap: 10px; */
}

.hero-info .hero-title {
    margin: 20px 0px 15px;
    color: #0d1321;
    font-size: 44px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
}

.hero-info .hero-desc {
    margin: 15px 12.5% 30px;
}

/* -----------Header part style completed------------ */



/* ------main part designs-------- */
main {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* why dev section designs here */

.why-dev {
    padding: 80px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 16px;
    background: #0d132105;

}

.why-dev-info {
    text-align: center;
    padding: 0px 40px 20px;
}

.reason {
    background-color: #fff;
    padding: 45px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}

.reason-info {
    width: 55%;
}

.reason .reason-info-title {
    font-size: 18px;
    line-height: 30px;
    color: #0d1321;
    opacity: 0.7;
    margin: 24px 0px;
}

.reason-info p {
    font-size: 12px;
    margin: 10px 0px 24px;
    line-height: 25px;
}

.reason-img {
    width: 40%;
}

.why-dev div:nth-of-type(3) {
    flex-direction: row-reverse;
}

/* My inspiration section styles here */
.inspiration {}

.inspiration-info {
    padding: 0px 115px;
    text-align: center;
}

.inspiration-media {
    margin: 50px 0px;
    padding: 20px;
    border: 1px solid #d5d6d8;
    border-radius: 8px;
    height: 65vh;
    text-align: center;
}

.inspiration-media iframe {
    border-radius: 10px;
}

/* Current Section styles */
.c-target-info {
    padding: 0px 115px;
    text-align: center;
}

.c-target-skill {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px 0px 50px;
    gap: 20px;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 260px;
    border-radius: 12px;
    padding: 20px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    /* box-shadow: ; */
}

.skill:nth-of-type(1) {
    background: rgba(255, 76, 30, 0.05);

}

.skill:nth-of-type(2) {
    background: rgba(0, 76, 232, 0.05);
}

.skill:nth-of-type(3) {
    background: rgba(255, 223, 0, 0.05);
}

.skill img {
    float: left;
}

.skill .skill-title {
    margin: 20px 0px 20px 5px;
}

.skill-desc {
    margin: 10px 0px 30px 5px;
    color: #0d1321;
    opacity: 0.7;
    font-size: 12px;

}

.skill a {

    margin-left: 5px;
    text-decoration: underline;
    color: #0d1321;
    font-weight: 700;
}

/* Next target skill section styles here */
.n-target {}

.n-target-info {
    padding: 0px 95px;
    text-align: center;

}

.n-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;


}

.n-target-skill {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0d132132;
    border-radius: 10px;
    width: 100%;
    gap: 30px;
    padding: 30px 40px;
}

.n-skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.n-skill h3,
.n-skill p {
    margin-bottom: 20px;

}

.n-skill a {
    text-decoration: underline;
    color: #0d1321;
    font-weight: 700;
}


/* Support section styles */
.support {

    background: url('../assets/handshake.jpg'), rgba(41, 41, 41, 0.168);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 65px 50px;
    border-radius: 15px;
    margin: 50px 0px;


}

.support-info h2,
.support-info p {
    /* padding: ; */
    color: #fff;
    text-align: center;
}

.support form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

#feedback {
    width: 250px;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    word-wrap: break-word;
}

.input-btn {
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* ------MAin part design complete-------- */



/* footer styles */


#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #0d13210e;

}

.foot-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.foot-img a img {
    width: 30px;
}

/* -------Footer part done--------- */